name: Stock Blog Bot

on:
  workflow_dispatch:
  schedule:
    - cron: '0 23 * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
          
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - run: pip install finance-datareader beautifulsoup4 lxml requests
      
      - run: python main.py
      
      - run: |
          git config --global user.name 'StockBot'
          git config --global user.email 'bot@noreply.github.com'
          git add index.html
          git commit -m "Update stock data" || echo "No changes"
          git push
